# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Entornos de desarrollo e IDEs
.vscode/
.idea/
*.swp
*.swo

# Archivos temporales de Microsoft Office / Word
~$*.docx
~$*.doc
.DS_Store
Thumbs.db

# Credenciales o variables de entorno locales (por seguridad)
.env
